<!-- begin header -->
<header class="header{{ if or .IsHome (eq .Type "solutions") (and (eq .Section "") (in .File.Path "about.md")) }} header--dark-nav{{ end }}{{ if .IsHome }} home-page{{ end }}">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ .Site.BaseURL }}">
            {{ if or (.Site.Params.logo) (.Site.Params.logo_dark) }}
            <img class="logo__image" src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Site.Title }}">
            <img class="logo__image__dark" src="{{ .Site.BaseURL }}{{ .Site.Params.logo_dark }}" alt="{{ .Site.Title }}">
            {{ else }}
              {{ .Site.Title }}
            {{ end }}
          </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">

              {{ $currentPage := . }}
              {{ range.Site.Menus.main }}
              {{ $menuURL := .URL | absLangURL }}
              {{ $pageURL:= $currentPage.Permalink | absLangURL }}
              {{ $active := eq $menuURL $pageURL }}

              {{ if or .HasChildren .Params.overviewItems }}
              <li class="nav__item dropdown {{ if .Params.overviewItems }}mega-menu{{ end }}">
                <span class="nav__link dropdown-toggle">{{ .Name }} <i class="fa-solid fa-chevron-down arrow-down"></i></span>
                
                {{ if .Params.overviewItems }}
                <!-- Mega Menu -->
                <div class="mega-menu-dropdown">
                  <div class="mega-menu-content">
                    <div class="container-big">
                      <div class="mega-menu-grid">
                        
                        <!-- Column 1: Overview -->
                        {{ if .Params.overviewItems }}
                        <div class="mega-menu-column mega-menu-column--overview">
                          <h3 class="mega-menu-column-title">Overview</h3>
                          {{ range .Params.overviewItems }}
                          {{ if eq .url "/about/" }}
                          <a href="{{ .url }}" class="mega-menu-overview-card mega-menu-overview-card--clickable">
                            {{ if .image }}
                            <div class="mega-menu-card-image">
                              <img src="{{ .image }}" alt="{{ .title }}">
                            </div>
                            {{ end }}
                            <div class="mega-menu-card-content">
                              <h4 class="mega-menu-card-title">{{ .title }} <i class="fa-solid fa-arrow-right mega-menu-card-arrow"></i></h4>
                              <p class="mega-menu-card-description">{{ .description }}</p>
                            </div>
                          </a>
                          {{ else }}
                          <div class="mega-menu-overview-card mega-menu-overview-card--static">
                            {{ if .image }}
                            <div class="mega-menu-card-image">
                              <img src="{{ .image }}" alt="{{ .title }}">
                            </div>
                            {{ end }}
                            <div class="mega-menu-card-content">
                              <h4 class="mega-menu-card-title">{{ .title }}</h4>
                              <p class="mega-menu-card-description">{{ .description }}</p>
                            </div>
                          </div>
                          {{ end }}
                          {{ end }}
                        </div>
                        {{ end }}

                        <!-- Column 2: Products -->
                        {{ if .Params.productItems }}
                        <div class="mega-menu-column mega-menu-column--products">
                          <h3 class="mega-menu-column-title">Products</h3>
                          <div class="mega-menu-links">
                            {{ range .Params.productItems }}
                            <a href="{{ .url }}" class="mega-menu-link">
                              {{ if .icon }}
                              <div class="mega-menu-link-icon">
                                <i class="{{ .icon }}"></i>
                              </div>
                              {{ end }}
                              <div class="mega-menu-link-content">
                                <span class="mega-menu-link-title">{{ .title }}</span>
                                {{ if .description }}
                                <span class="mega-menu-link-description">{{ .description }}</span>
                                {{ end }}
                              </div>
                            </a>
                            {{ end }}
                          </div>
                        </div>
                        {{ end }}

                        <!-- Column 2: Links (for Resources menu) -->
                        {{ if .Params.linkItems }}
                        <div class="mega-menu-column mega-menu-column--links">
                          <h3 class="mega-menu-column-title">Quick Links</h3>
                          <div class="mega-menu-links">
                            {{ range .Params.linkItems }}
                            {{ if .comingSoon }}
                            <span class="mega-menu-link mega-menu-link--disabled">
                              {{ if .icon }}
                              <div class="mega-menu-link-icon">
                                <i class="{{ .icon }}"></i>
                              </div>
                              {{ end }}
                              <div class="mega-menu-link-content">
                                <span class="mega-menu-link-title">{{ .title }} <span class="coming-soon-badge">Coming Soon</span></span>
                                {{ if .description }}
                                <span class="mega-menu-link-description">{{ .description }}</span>
                                {{ end }}
                              </div>
                            </span>
                            {{ else }}
                            <a href="{{ .url }}" class="mega-menu-link">
                              {{ if .icon }}
                              <div class="mega-menu-link-icon">
                                <i class="{{ .icon }}"></i>
                              </div>
                              {{ end }}
                              <div class="mega-menu-link-content">
                                <span class="mega-menu-link-title">{{ .title }}</span>
                                {{ if .description }}
                                <span class="mega-menu-link-description">{{ .description }}</span>
                                {{ end }}
                              </div>
                            </a>
                            {{ end }}
                            {{ end }}
                          </div>
                        </div>
                        {{ end }}

                        <!-- Column 3: Features -->
                        {{ if .Params.featureItems }}
                        <div class="mega-menu-column mega-menu-column--features">
                          <h3 class="mega-menu-column-title">Features</h3>
                          <div class="mega-menu-links">
                            {{ range .Params.featureItems }}
                            <a href="{{ .url }}" class="mega-menu-link">
                              {{ if .icon }}
                              <div class="mega-menu-link-icon">
                                <i class="{{ .icon }}"></i>
                              </div>
                              {{ end }}
                              <div class="mega-menu-link-content">
                                <span class="mega-menu-link-title">{{ .title }}</span>
                                {{ if .description }}
                                <span class="mega-menu-link-description">{{ .description }}</span>
                                {{ end }}
                              </div>
                            </a>
                            {{ end }}
                          </div>
                        </div>
                        {{ end }}

                        <!-- Column 2: Company Links (for Company menu) -->
                        {{ if .Params.companyItems }}
                        <div class="mega-menu-column mega-menu-column--company">
                          <h3 class="mega-menu-column-title">Company</h3>
                          <div class="mega-menu-links">
                            {{ range .Params.companyItems }}
                            <a href="{{ .url }}" class="mega-menu-link">
                              {{ if .icon }}
                              <div class="mega-menu-link-icon">
                                <i class="{{ .icon }}"></i>
                              </div>
                              {{ end }}
                              <div class="mega-menu-link-content">
                                <span class="mega-menu-link-title">{{ .title }}</span>
                                {{ if .description }}
                                <span class="mega-menu-link-description">{{ .description }}</span>
                                {{ end }}
                              </div>
                            </a>
                            {{ end }}
                          </div>
                        </div>
                        {{ end }}

                        <!-- Column 3: Featured Posts (for Resources menu) -->
                        {{ if eq .Name "Resources" }}
                        <div class="mega-menu-column mega-menu-column--featured">
                          <h3 class="mega-menu-column-title">Featured Articles</h3>
                          <div class="mega-menu-featured-posts">
                            {{ range first 3 (where (where site.RegularPages "Section" "projects") ".Params.featured" "=" true) }}
                            <a href="{{ .RelPermalink }}" class="mega-menu-post">
                              {{ if .Params.Image }}
                              <div class="mega-menu-post-image">
                                <img src="{{ .Params.Image | absURL }}" alt="{{ .Params.Title }}">
                              </div>
                              {{ end }}
                              <div class="mega-menu-post-content">
                                {{ if .Params.label }}
                                <span class="mega-menu-post-label">{{ .Params.label }}</span>
                                {{ end }}
                                <h4 class="mega-menu-post-title">{{ .Params.Title }}</h4>
                              </div>
                            </a>
                            {{ end }}
                          </div>
                        </div>
                        {{ end }}

                      </div>
                    </div>
                  </div>
                </div>
                {{ else }}
                <!-- Regular Dropdown -->
                <div class="dropdown-menu {{ if .Params.icon }}dropdown-menu--cards{{ end }}">
                  {{ range .Children }}
                  {{ $childURL := .URL | absLangURL }}
                  {{ $active := eq $childURL $pageURL }}
                  <a href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}"
                    class="nav__link{{ if $active }} active-link{{ end }}{{ if .Params.icon }} nav__link--card{{ end }}">
                    {{ if .Params.icon }}
                    <div class="nav__link-icon">
                      <i class="{{ .Params.icon }}"></i>
                    </div>
                    <div class="nav__link-content">
                      <div class="nav__link-title">{{ .Name }}</div>
                      {{ if .Params.description }}
                      <div class="nav__link-description">{{ .Params.description }}</div>
                      {{ end }}
                    </div>
                    {{ else }}
                    {{ .Name }}
                    {{ end }}
                  </a>
                  {{ end }}
                </div>
                {{ end }}
              </li>

              {{ else }}
              <li class="nav__item">
                <a href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}" class="nav__link{{ if $active }} active-link{{ end }}">{{ .Name }}</a>
              </li>
              {{ end }}
              {{ end }}

            </ul>
          </div>

          <div class="nav-button">
            {{ if .Site.Params.theme_toggle_enable }}
            {{ if or (eq .Site.Params.color_scheme "light") (eq .Site.Params.color_scheme "dark") }}
            {{ else }}
            <div class="toggle-theme">
              <div class="toggle-moon" title="Enable dark mode" aria-hidden="true">
                <svg width="15" height="15" viewBox="0 0 1472 1536" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1464 1090q-94 203-283 323.5T768 1536q-157-1-299-62t-244.5-163.5T61 1066T0 768q0-205 97.5-378t267-276.5T738 2q43-2 62 38q17 42-16 72q-176 164-176 400q0 111 43 211.5t115 173t172.5 116T1151 1056q119 0 228-51q41-18 72 13t13 72"/>
                </svg>
                <span class="toggle-text">Dark</span>
              </div>
              <div class="toggle-sun" title="Enable light mode" aria-hidden="true">
                <svg width="15" height="15" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                    <path stroke-linecap="round" d="m9.15 9.15l2.228 2.228M3 24h3.15m3 14.85l2.228-2.228M38.85 38.85l-2.228-2.228M45 24h-3.15m-3-14.85l-2.228 2.228M24 3v3.15"/>
                    <path fill="currentColor" d="M24 36c6.627 0 12-5.373 12-12s-5.373-12-12-12s-12 5.373-12 12s5.373 12 12 12Z"/>
                    <path stroke-linecap="round" d="M24 45v-3.15"/>
                  </g>
                </svg>
                <span class="toggle-text">Light</span>
              </div>
            </div>
            {{ end }}
            {{ end }}
            {{ if .Site.Params.cta_button.enable }}
            <a href="{{ if .Site.Params.cta_button.cta_button_link }}{{ .Site.Params.cta_button.cta_button_link }}{{ else }}#{{ end }}" class="nav__link cta-button button">{{ .Site.Params.cta_button.cta_button_text }}</a>
            {{ end }}
          </div>

        </nav>

      </div>
    </div>
  </div>
</header>
<!-- end header -->