<div class="container">
  <section class="page__head" id="marketing">
    <div class="container">
      <div class="row" style="margin-left: 15px;">
        <div class="col-lg-12 mx-auto text-center">
          <div class="rt-section-title-wrapper">
            <h2 class="rt-section-title">Marketing</h2>
            <p>
              Our marketing consultations focus on lean, effective tactics that match your budget and voice. Whether you're launching or scaling, we help connect your message to the right audience.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mx-auto text-center col-md-6 marketing-card">
          <div class="single-marketing-table">
            <div class="marketing-design-elemnts one"></div>
            <div class="marketing-design-elemnts two"></div>
            <div class="marketing-design-elemnts three"></div>
            <div class="marketing-design-elemnts four"></div>
            <div class="marketing-header">
              <span class="package-title">Free</span>
              <span class="package-amount"
                >$0<span>/</span><span>mo</span></span
              >
            </div>
            <div class="marketing-body">
              <ul>
                <li>Unlimited Pages</li>
                <li>All Team Members</li>
                <li>Unlimited Leads</li>
                <li>Unlimited Page Views</li>
                <li>Export in HTML/CSS</li>
              </ul>
            </div>
            <div class="marketing-footer">
              <a href="#">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto text-center col-md-6 marketing-card">
          <div class="single-marketing-table">
            <div class="marketing-design-elemnts one"></div>
            <div class="marketing-design-elemnts two"></div>
            <div class="marketing-design-elemnts three"></div>
            <div class="marketing-design-elemnts four"></div>
            <div class="marketing-header">
              <span class="package-title">Startar</span>
              <span class="package-amount"
                >$30<span>/</span><span>mo</span></span
              >
            </div>
            <div class="marketing-body">
              <ul>
                <li>Unlimited Pages</li>
                <li>All Team Members</li>
                <li>Unlimited Leads</li>
                <li>Unlimited Page Views</li>
                <li>Export in HTML/CSS</li>
              </ul>
            </div>
            <div class="marketing-footer">
              <a href="#">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mx-auto text-center col-md-6 marketing-card">
          <div class="single-marketing-table">
            <div class="marketing-design-elemnts one"></div>
            <div class="marketing-design-elemnts two"></div>
            <div class="marketing-design-elemnts three"></div>
            <div class="marketing-design-elemnts four"></div>
            <div class="marketing-header">
              <span class="package-title">Premium</span>
              <span class="package-amount"
                >$60<span>/</span><span>mo</span></span
              >
            </div>
            <div class="marketing-body">
              <ul>
                <li>Unlimited Pages</li>
                <li>All Team Members</li>
                <li>Unlimited Leads</li>
                <li>Unlimited Page Views</li>
                <li>Export in HTML/CSS</li>
              </ul>
            </div>
            <div class="marketing-footer">
              <a href="#">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
